body {
  font-size: 80%;
  font-family: sans-serif;
  padding: 1em;
}

h1,h2,h3 {
  font-weight: bold;
}

h1 {
  font-size: 120%;
  margin: 1em 0 0.5em 0;
}

h2 {
  font-size: 110%;
}

h3 {
  font-size: 100%;
}

th {
  font-weight: bold;
}

.header {
  border-bottom: 1px solid #000;
}

.header .menu {
  margin: 0;
  padding: 0;
  display: inline;
}
  .header .menu li {
    float: left;
    margin: 0;
    padding: 0.4em 0.6em;
	list-style: none;
	display: inline;
    border: 1px solid #000;
    border-bottom: none;
    border-right: none;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    position:relative;
    top: 1px;
    color: #cbcbcb;
  }

  .header .menu li.active {
    background-color: #fff;
  }

  .header .menu li.last {
    border-right: 1px solid #000;
  }

  .header .menu li a {
    color: #cbcbcb;
    text-decoration: none;
  }

  .header .menu li a:hover {
    color: #000;
  }

  .header .menu li.active a {
    color: #000;
  }

  .page ul {
    margin-left: 1em;
  }

  .page li {
    list-style: square;
  }

  /*#servers .xen0 {
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid #cbcbcb;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #cbcbcb;
  }

  #servers .xenu {
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid #cbcbcb;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
  }

  #servers .xen0 h1 {
    margin-top: 0;
  }*/

  #servers .xenu .info {
    width: 200px;
    float: left;
  }

  #servers .xenu .domains {
    width: 400px;
    float: left;
  }

  #servers .info dl dt {
    float: left;
  }

  #servers .info dl dd {
    margin-left: 7em;
  }

  #servers.table table {
    width: 100%;
  }

  #servers.list tbody .os {
    padding-left: 20px;
  }

  #servers.list .xenu .name {
    background-image: url('../images/right.gif'); 
    background-repeat: no-repeat;
    background-position: 7px 8px;
    padding-left: 20px;
  }

  #servers.list .physical .os,
  #servers.list .xen0 .os,
  #servers.list .xenu .os {
    background-repeat: no-repeat;
    background-position: left 3px;
  }

  #servers.list .os.debian {
    background-image: url('../images/debian-logo.png'); 
  }

  #servers.list .os.archlinux {
    background-image: url('../images/archlinux-logo.png');
  }

  #servers.list .actions img,
  #servers.list .harddrives img,
  #servers.list .partitions img {
    display: block;
    padding: 0;
    margin: 0;
  }

  #servers.list .hardware {
    padding-left: 20px;
    background-position: left center;
  }

  #servers.list .hardware.cpu {
    background-image: url('../images/processor.png');
    background-repeat: no-repeat;
  }

  #servers.list .hardware.memory {
    background-image: url('../images/ddr_memory.png');
    background-repeat: no-repeat;
  }

  #servers.list .hardware.harddrives,
  #servers.list .hardware.partitions,
  #servers.list .hardware.error {
    background-image: none;
    padding-left: 0;
  }

  #servers.list .hardware.harddrives img, 
  #servers.list .hardware.partitions .harddrive {
    float: left;
    margin-right: 14px;
  }

  #servers.list .hardware.partitions .harddrive.warning {
    background-image: url('../images/harddrive.png');
    background-repeat: no-repeat;
    margin-right: 6px;
  }

  #servers.list .hardware.partitions .harddrive.warning img {
    margin: 2px 0 0 8px;
  }

  #servers.list th.name {
    width: 9em;
  }
  #servers.list th.ip {
    width: 7.5em;
  }
  #servers.list th.os {
    width: 5em;
  }
  #servers.list th.os_release {
    width: 5em;
  }
  #servers.list th.os_kernel {
    width: 7.5em;
  }
  #servers.list th.arch {
    width: 4em;
  }
  #servers.list th.cpu_count {
    width: 5em;
  }
  #servers.list th.memory {
    width: 6em;
  }
  #servers.list th.harddrives {
    width: 6em;
  }
  #servers.list th.partitions {
    width: 6em;
  }
  #servers.list th.actions {
    width: 5em;
  }
  #servers.list th.comment {
    width: 8em;
  }

  #search #result th.status {
    width: 4em;
  }

  #search #result th.name {
    width: 12em;
  }
  
  .icon {
    vertical-align: middle;
  }

  #messages {
    padding: 1em;
    width: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    border-bottom: 1px solid #000;
  }

  #messages.error {
    background-color: #f00;
    font-weight: bold;
  }

  #messages.warning {
    background-color: #fffc00;
    font-weight: bold;
  }

  #messages.ok {
    background-color: #00ce00;
  }

  #messages.loading {
    background-color: #00ce00;
  }

  .clr {
    clear: both;
  }

  /* tables */
  table.tablesorter {
    /*background-color: #CDCDCD;*/
    margin:10px 0pt 15px;
    width: 100%;
    text-align: left;
  }
  table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #e6EEEE;
    border: 1px solid #FFF;
    padding: 4px;
  }
  table.tablesorter thead tr .header {
    background-image: url('../images/bg.gif');
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
  }
  table.tablesorter tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
    line-height: 1.2em;
  }
  table.tablesorter tbody tr.odd td {
    background-color:#F0F0F6;
  }
  table.tablesorter thead tr .headerSortUp {
    background-image: url('../images/asc.gif');
  }
  table.tablesorter thead tr .headerSortDown {
    background-image: url('../images/desc.gif');
  }
  table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
  }

  /* tooltips */
  .tooltip {
    display:none;
    /*height:70px;*/
    /*width:160px;*/
    padding:1em;
    border:3px solid rgba(0,0,0,0);
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:0 0 18px rgba(0,0,0,0.4);
    -moz-box-shadow:0 0 18px rgba(0,0,0,0.4);
    box-shadow:0 0 18px rgba(0,0,0,0.4);
    background-color:#fff;
    color: #000;
  }

  /* facebox */
  #facebox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: left;
  }

  #facebox .popup {
    position:relative;
    border:3px solid rgba(0,0,0,0);
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:0 0 18px rgba(0,0,0,0.4);
    -moz-box-shadow:0 0 18px rgba(0,0,0,0.4);
    box-shadow:0 0 18px rgba(0,0,0,0.4);
  }

  #facebox .content {
    display:table;
    /*width: 370px;*/
    padding: 10px;
    background: #fff;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
  }

  #facebox .content > p:first-child {
    margin-top:0;
  }
  #facebox .content > p:last-child {
    margin-bottom:0;
  }

  #facebox .close {
    position:absolute;
    top:5px;
    right:5px;
    padding:2px;
    background:#fff;
  }
  #facebox .close img {
    opacity:0.3;
  }
  #facebox .close:hover img {
    opacity:1.0;
  }

  #facebox .loading {
    text-align: center;
  }

  #facebox .image {
    text-align: center;
  }

  #facebox img {
    border: 0;
    margin: 0;
  }

  #facebox_overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
  }

  .facebox_hide {
    z-index:-100;
  }

  .facebox_overlayBG {
    background-color: #000;
    z-index: 99;
  }

  #facebox .domains.list {
    -moz-column-count: 4;
    -moz-column-gap: 2em;
    -moz-column-rule: 1px solid black;
    -webkit-column-count: 4;
    -webkit-column-gap: 2em;
    -webkit-column-rule: 1px solid black;
  }

  #facebox .domains.list .status {
    float: left;
    width: 20px;
  }

  #facebox .domains.list .name {
    width: 260px;
  }

  #facebox h1:first-child {
    margin-top: 0;
  }

  .domains.list .inactive a {
    color: #cbcbcb;
    text-decoration: line-through;
  }

.hidden {
  display: none;
} 

#facebox .sortableListContainer {
  float: left;
  width: 155px;
}

#facebox .sortableListContainer.last {
  margin-left: 30px;
}

#avaliableFields, 
#enabledFields { 
  list-style-type: none;
  margin: 5px 0;
  padding: 10px 0 0 0;
  border: 1px solid #cbcbcb;
  min-height: 30px;
}

#avaliableFields li, 
#enabledFields li { 
  margin: 0 10px 10px 10px;
  padding: 5px;
  width: 120px;
  border: 1px solid #000;
  background-color: #fff;
}

#avaliableFields li {
  color: #cbcbcb;
  border: 1px dotted #cbcbcb;
}

#avaliableFields li:hover, 
#enabledFields li:hover { 
  cursor: move;
}
.ui-state-highlight { height: 1em; line-height: 1.2em; }
